<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home page <%= 'hello world' .toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellendus nihil molestiae commodi eligendi,
        accusantium ex voluptas dolores dolorem dolor asperiores, amet repudiandae laudantium excepturi laboriosam. Sunt
        vero at corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et asperiores animi hic natus, rem
        vero maiores iusto molestias fuga reiciendis magnam. Ad voluptas praesentium sequi unde facere, necessitatibus
        alias saepe.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellendus nihil molestiae commodi eligendi,
        accusantium ex voluptas dolores dolorem dolor asperiores, amet repudiandae laudantium excepturi laboriosam. Sunt
        vero at corporis!</p>
</body>

</html>